<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Integration Hub Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <div class="container">
        <header class="header">
            <!--
            <div class="badge">Integration Dashboard</div>
        -   -->
            <div class="icon">🚀</div>
            <h1>Integration Hub Dashboard</h1>
            <p>Welcome to your Integration Management Dashboard</p>
            <p>The application is successfully running!</p>
        </header>
        <a href="/dashboard" class="btn">📊 View EMS Queue Dashboard</a><br/>
        <a href="https://www.google.com" target="_blank" class="btn"> 🔐 Certificate Management</a><br/>
        <a href="https://www.google.com" target="_blank" class="btn"> ⏰ BW App Monitor</a><br/>
        <a href="https://www.google.com" target="_blank" class="btn"> 🛳️ Endpoint Monitor</a><br/>
        <div class="status">✓ System Online</div>
    </div>
</body>
</html>
